<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <body>
        <header>
            <h1 class="headline">
            <a>あなたが今したいことは？</a>
            </h1>
           
        </header>

        <div class="start">
            <h6>「何しようかな～」
            <br>そう思ったら一回試してみて！</br>
            <br>あなたが気になるものが見つかりますように♡</br>
            </h6>
            <%= link_to "診断を始める", new_shindan_path, class: "link" %>
        </div>
    </body>