<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

<div class="shindan_area">

    <div class="shindan_title">
    <span class="s_under">趣味を探そう</span>
    </div>

    <body>
        <div class="shindan_start">
            <p>「何しようかな～」
            <br>そう思ったら一回試してみて！</br>
            <br>独断と偏見でおすすめを紹介！</br>
            <br>新たな趣味に出会えますように✨</br>
            </p>
        </div>

        <div class="shindan_link">
            <%= link_to "診断を始める", new_shindan_path, class: "link" %>
        </div>
    </body>

</div>