<div class="intoro">
<h5>診断結果</h5>
<p>あなたへのお勧めは…？</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @shindan.question == "1111" %>
    <h6>こんなものはどうですか？</h6>
    <p>スポーツ</p>
    <p>稼ぐ</p>

    <% elsif @shindan.question == "1112" %>
    <h6>こんなものはどうですか？</h6>
    <p>奉仕活動</p>
    <p>コレクション</p>
    

    <% elsif @shindan.question == "1121" %>
    <h6>こんなものはどうですか？</h6>
    <p>グルメ</p>
   

    <% elsif @shindan.question == "1122" %>
    <h6>こんなものはどうですか？</h6>
    <p>アウトドア</p>
    <p>エンタメ</p>

    <% elsif @shindan.question == "1211" %>
    <h6>こんなものはどうですか？</h6>
    <p>踊る・ダンス</p>
    <p>資格・スキルアップ</p>
    <p>美容</p>

    <% elsif @shindan.question == "1212" %>
    <h6>こんなものはどうですか？</h6>
    <p>踊る・ダンス</p>
    <p>音楽</p>

    <% elsif @shindan.question == "1221" %>
    <h6>こんなものはどうですか？</h6>
    <p>料理</p>
    <p>観戦</p>

    <% elsif @shindan.question == "1222" %>
    <h6>こんなものはどうですか？</h6>
    <p>観戦</p>
    <p>音楽</p>

    <% elsif @shindan.question == "2111" %>
    <h6>こんなものはどうですか？</h6>
    <p>旅行</p>
    <p>稼ぐ</p>

    <% elsif @shindan.question == "2112" %>
    <h6>こんなものはどうですか？</h6>
    <p>奉仕活動</p>
    <p>旅行</p>

    <% elsif @shindan.question == "2121" %>
    <h6>こんなものはどうですか？</h6>
    <p>コレクション</p>
    <p>グルメ</p>

    <% elsif @shindan.question == "2122" %>
    <h6>こんなものはどうですか？</h6>
    <p>芸術・鑑賞</p>
   

    <% elsif @shindan.question == "2211" %>
    <h6>こんなものはどうですか？</h6>
    <p>美容</p>
    <p>資格・スキルアップ</p>

    <% elsif @shindan.question == "2212" %>
    <h6>こんなものはどうですか？</h6>
    <p>作る</p>
    <p>料理、育てる</p>
    <p>ゲーム</p>

    <% elsif @shindan.question == "2221" %>
    <h6>こんなものはどうですか？</h6>
    <p>読書</p>
    <p>エンタメ</p>

    <% elsif @shindan.question == "2222" %>
    <h6>こんなものはどうですか？</h6>
    <p>エンタメ</p>
    <p>読書</p>

    <% end %>

   

</div>
</div>