.shindan_area{

    .shindan_title{
        position:relative;
        font-family: 'Yusei Magic', sans-serif;
        font-size: 34px;
        text-align:center
        
        
    }

    .shindan_start{
        margin-top: 25px;
        position:relative;
        font-family: 'Yusei Magic', sans-serif;
        font-size: 26px;
        text-align:center
    }

    .shindan_link{
        margin:25px;
        position:relative;
        font-family: 'Yusei Magic', sans-serif;
        font-size: 34px;
        text-align:center
    }

}