.tweet-container{
    margin:30px;
    font-size: 26px;
    padding:50px;
    
    .shindan_show_title{
        font-family: 'Yusei Magic', sans-serif;
        text-align:center
            
            
    }
    .shindan_show_2{
        font-family: 'Yusei Magic', sans-serif;
        text-align:center
            
            
    }
    .shindan_show_3{
        font-family: 'Yusei Magic', sans-serif;
        text-align:center
            

    }
    

   
}

