.new_area_start{
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

.setumei{
    font-family: 'Yusei Magic', sans-serif; 
    text-align: center;
    margin-bottom: 5px;
}

.field_new{
    font-family: 'Yusei Magic', sans-serif; 
    text-align: center;
}

.ran{
    text-align: center;
    margin-bottom: 5px;
}

.category_new{
    text-align: center;
    font-family: 'Yusei Magic', sans-serif; 
}

.submit_new{
    text-align: center;
}

.tophe_new{
    text-align: center;
    font-family: 'Yusei Magic', sans-serif; 
}